<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />

  <title>Cartographie</title>

  <link rel="stylesheet" href="styles/carto.css">
</head>

<body>
  <div class="flex-container">
    <div id="map">
      <script src="javascripts/carto.js"></script>
    </div>

    <div id="filters">
    </div>
  </div>
</body>
</html>
