#map {
        width: 1000px;
        height: 800px;
}

p {
        text-align: center;
}

.flex-container {
        display: flex;
}

.dropdown-content {
        display: none;
        color: blue;
}
