#map {
        width: 1000px;
        height: 800px;
}

p {
        text-align: center;
}

.flex-container {
        display: flex;
        margin: auto;
        width: 80%;
}

#filters {
        display: block
}

.dropdown-content {
        display: none;
        color: blue;
}
